@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    background: rgb(246, 252, 252);
    text-decoration: none;
    font-weight: 300;
    /* Start https://www.cursors-4u.com */ 
    /* cursor: url(https://cur.cursors-4u.net/cursors/cur-2/cur104.cur), auto !important; */
    /* End https://www.cursors-4u.com */

}
.slide{
    display: none;
    opacity: 1;
    justify-content: center;
    align-content: center;
    position: fixed;
    width: 60px;
    height: 60px;
    background: linear-gradient(-30deg,rgb(118, 214, 243),rgb(90, 31, 253));
    border-radius: 50%;
    z-index: 3;
    /* transform: translateY(150px); */
    right: 5%;
    bottom: 10%;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(85, 201, 236);
    cursor: pointer;
    /* animation: fadeInDown 1s ease 1; */
}
.slide:hover{
    transform: scale(1.1);
}
.slide .slideup{
    position: relative;
    width: 100%;
    height: 100%;
    top: 18%;
    font-size: 50px;
    background: none;
    color: #fff;    
    font-family: sans-serif !important;

}
.header {
    width: 100%;
    height: 60px;
    position: fixed;
    background: rgb(23, 5, 43);
    z-index: 10;
}

#clear {
    position: relative;
    width: 100%;
    height: 50px;
    clear: left;
}
#banner{
    position: relative;
}
.banner {
    display: flex;
    height: 100%;
    position: relative;
    font-size: 55px;
    color: aliceblue;
    font-weight: 700;
    background: rgb(23, 5, 43);
    float: left;
    left: 50px;
    align-items: center;


}

.guide {
    display: flex;
    height: 100%;
    position: relative;
    float: right;
}

.guide a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    transition: .3s;
    padding: 0px 10px;
    margin: 0px 0px;
    background: rgb(23, 5, 43);
    color: aliceblue;
}

.guide a:nth-child(6) {
    font-size: 14px;
}

.guide a:nth-child(5) {
    font-size: 14px;
}

.guide a:hover {
    background: rgb(231, 235, 248);
    color: rgb(37, 36, 36);
}

.guide a .effect {
    position: relative;
    transition: .3s 0.1s;
    background: rgb(0, 0, 0);
    width: 2px;
    left: -5px;
    height: 0%;
    display: block;
    opacity: 0;
}

.guide a:hover .effect {
    opacity: 1;
    height: 60%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.img {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.img img {
    width: 100%;
    height: 100vh;
    position: relative;

}

.slogan1 {
    position: absolute;
    font-size: 50px;
    color: brown;
    font-weight: 200;
    top: 5%;
    left: 30%;
    background: rgb(255, 255, 255, 0);
    animation: fadeIn 1s ease 1;
    font-family: 'Noto Sans TC', sans-serif !important;

}

.slogan2 {
    position: absolute;
    font-size: 50px;
    color: brown;
    font-weight: 200;
    top: 30%;
    left: 12%;
    background: rgb(255, 255, 255, 0);
    animation: fadeInLeft 1.7s ease 1;
    writing-mode: vertical-lr;
    font-family: 'Noto Sans TC', sans-serif !important;

}

.slogan3 {
    position: absolute;
    font-size: 50px;
    color: brown;
    font-weight: 200;
    top: 30%;
    right: 12%;
    background: rgb(255, 255, 255, 0);
    animation: fadeInRight 2s ease 1;
    writing-mode: vertical-lr;
    font-family: 'Noto Sans TC', sans-serif !important;

}

.slogan1, .slogan2, .slogan3 {
    transition: .3s;
    padding: 3px;
    border-radius: 20px;
    box-sizing: border-box;
}

/* 
.slogan1:hover, .slogan2:hover, .slogan3:hover {
    border: 3px solid rgb(164, 164, 168);
    box-shadow: 2px 2px 10px rgb(150, 150, 150);

    transform: scale(1.05);
} */

.photo {
    width: 100%;
    z-index: 2;

}

.photo h1 {
    background: #fff;
    text-align: center;
}

.photo span {

    font-weight: 300;
    font-size: 50px;
    color: rgb(82, 83, 83);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;

}

.photo span:hover {
    background: rgb(195, 240, 219);

}

.photo img {
    position: relative;
    width: 80%;
    height: 90vh;
    left: 10%;

}

.feature {
    width: 100%;
    z-index: 2;
}

.feature h1 {
    width: 100%;
    height: 50px;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

.feature_box {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.feature_box:nth-child(2n) {
    flex-direction: row-reverse;
}

#feature>span {
    color: rgb(82, 83, 83);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 3px;
    transition: 0.3s;

}

#feature>span:hover {
    background: rgb(73, 228, 255);
}

.feature_box ul {
    max-width: 33%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 6px double rgb(188, 199, 192);
    box-shadow: 2px 2px 10px #222;
    border-radius: 20px;
    padding: 30px;
    font-size: 28px;
    line-height: 35px;


}

.feature_box ul li {
    transition: 0.3s;
}

.feature_box ul li:hover {
    transform: scale(1.05);

}

iframe {
    width: 642px;
    height: 361px;
}

li .point {
    background: rgb(73, 228, 255);
    border-radius: 20px;
    padding: 4px;
}

.concept {
    width: 100%;
}

.concept h1 {
    text-align: center;
}

#concept>span {
    font-weight: 300;
    font-size: 50px;
    color: rgb(82, 83, 83);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;

}

#concept>span:hover {
    background: rgb(221, 250, 92);
}

.concept_box {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.concept_box .text_box {
    width: 25%;
    background: rgb(252, 250, 250);
    border: 3px solid #952;
    border-radius: 10px;
    text-align: center;
}

.text_box {
    font-size: 25px;

    padding: 30px;
}

.text_box span {
    font-size: 40px;
    border-radius: 10px;
    transition: 0.3s;
    padding: 3px;
}

.text_box span:hover {

    background: rgb(221, 250, 92);
}

.contact {
    position: relative;
    width: 100%;
    height: 370px;
    margin-top: 30px;
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
}

.contact_box {
    position: relative;
    width: 40%;
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;

}

#contact {
    text-align: center;
}

#contact span {
    font-weight: 300;
    font-size: 50px;
    color: rgb(82, 83, 83);
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    transition: 0.3s;
}

#contact span:hover {
    background: rgb(212, 212, 212);
}

.contact_box ul {
    background: rgb(32, 32, 32);

}

.contact_box ul li {
    background: rgb(32, 32, 32);
    color: rgb(200, 194, 206);
    line-height: 50px;

}

.contact_box ul li:nth-child(1) {
    margin-top: 20px;
    font-size: 50px;
    line-height: 65px;
}

.footer {
    width: 100%;
    height: 30px;
    position: relative;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: rgb(25, 24, 29);
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer span {
    position: relative;
    background: rgba(189, 176, 238, 0);

}

.dashed {
    width: 90%;
    height: 1px;
    margin: 25px 0;
    background: rgb(204, 204, 204);
    position: relative;
    left: 5%;
}

.dashed2 {
    width: 90%;
    height: 1px;
    margin: 15px 0;
    background: rgb(165, 162, 162);
    position: relative;
    left: 5%;
}

.login {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(180deg,rgb(157, 191, 230),rgb(61, 98, 139) 30%,rgb(26, 45, 63) 85%,rgb(46, 46, 46))
}

.login_box {
    border: 2px solid rgb(91, 151, 175);
    box-shadow: 10px 10px 10px rgb(23, 27, 63),
    inset 0px 0px 25px rgba(143, 174, 202);
    border-radius: 20px;
    background: none;
    position: relative;
    width: 300px;
    padding: 30px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.login_box h1 {

    background: none;
    text-transform: uppercase;
    font-size: 50px;
    color: lavenderblush;
    font-weight:600;
}

.login_box input[type="text"], .login_box input[type="password"] {
    outline: none;
    background: none;
    display: block;
    width: 150px;
    color: white;
    margin: 15px auto;
    padding: 10px 14px;
    border: 2px solid #4d98ca;
    border-radius: 24px;
    transition: 0.3s;
}

.login_box input[type="text"]:focus,
.login_box input[type="password"]:focus {
    width: 200px;
    border-color: #54d865;

}

.login_box input[type="button"] {
    outline: none;
    background: none;
    display: block;
    width: 100px;
    color: white;
    margin: 20px auto;
    padding: 10px 14px;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    transition: 0.3s;
    cursor: pointer;
}

.login_box input[type="button"]:hover {
    background: #2ecc71;
}
::placeholder{
    color: rgb(218, 218, 218 ,0.9);
}
h3 {
    display: none;
    text-align: center;
    position: relative;
    font-size:15px;
    color: rgb(157, 202, 240);
    z-index: 30;
    background: none;
    max-width:300px;
}
h3 span{
    position: relative;
    padding: 1px 7px;
    background: linear-gradient(180deg,rgb(181, 227, 247) 0%,rgb(51, 87, 153));
    color: rgb(16, 41, 21);
    font-size: 15px;
    border-radius: 50%;
    border: 1.5px solid rgb(29, 29, 29);
    margin-right:5px;
    font-family: sans-serif;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    50% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    30% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width:1024px) {

    .slogan1, .slogan2, .slogan3 {
        font-size: 45px;
    }

    .slogan1 {
        left: 25%;
    }

    .img {
        height: 80vh;
    }

    .img img {
        height: 80vh;
    }

    .photo img {
        height: 70vh;
    }

    .feature_box ul {
        font-size: 24px;
    }

    iframe {
        width: 50%;
    }

    .text_box {
        padding: 25px;
        font-size: 22px;
    }

    .contact_box ul li:nth-child(1) {
        font-size: 35px;
    }
}

@media screen and (max-width:770px) {

    .slogan1, .slogan2, .slogan3 {
        font-size: 40px;
    }

    .slogan1 {
        left: 22%;
    }

    .img {
        height: 50vh;
    }

    .img img {
        height: 50vh;
    }

    .photo img {
        height: 40vh;
    }

    .feature_box ul {
        font-size: 22px;
    }

    iframe {
        width: 45%;
    }

    .text_box {
        padding: 15px;
        font-size: 15px;
    }

    .contact_box ul li:nth-child(1) {
        font-size: 35px;
    }
}

@media screen and (max-width:710px) {
    .header{
        height: 35px;
    }
    .guide{
        width: 100vw;
    }
    .guide a{
        font-size: 20px;
        line-height: 19px;
    }
    #banner{
      
        width: 100%;
        left: 10%;
    }
    .banner{
        font-size: 30px;
    }

}
@media screen and (max-width:600px) {
    .slide{
        width: 40px;
        height: 40px;
    }
    .slide .slideup{
        font-size: 40px;
    }
    .header {
        width: 100%;
    }

    #banner {
        width: 100%;
    }

    .banner {
        left: 23%;
    }

    .guide {
        width: 100%;
        box-sizing: border-box;

    }
    .guide a{
        font-size: 19px;
    }


    .guide a:hover .effect {
        opacity: 1;
        height: 0%;
    }

    .slogan1, .slogan2, .slogan3 {
        font-size: 18px;
    }

    .slogan1 {
        top: 10%;
        left: 19%;
    }

    .slogan2 {
        left: 5%;
    }

    .slogan3 {
        right: 3%;
    }

    #clear {
        height: 15vh;
    }

    .img {
        height: 30vh;
        width: 100%;
    }

    .img img {
        height: 30vh;
        width: 100%;
    }

    .photo img {
        height: 23vh;
    }

    .feature_box {
        flex-direction: column;
        align-items: center;
        margin: 5px 0;
    }

    .feature_box:nth-child(2n) {
        flex-direction: column;

    }

    .feature_box ul {
        box-sizing: border-box;
        font-size: 18px;
        max-width: 90%;
        margin: 20px 0px;
    }


    iframe {
        width: 90%;
    }

    .concept_box {
        flex-direction: column;
        align-items: center;
    }

    .contact_box {
        flex-direction: column-reverse;
    }

    .concept_box .text_box {
        box-sizing: border-box;
        width: 90%;
        padding: 15px;
        font-size: 18px;
        margin: 10px 0;
    }
    .contact{
        height: 450px;
    }
    .contact_box {
        width: 90%;

    }

    .contact_box ul, .contact_box ul li {
        max-width: 90%;
    }

    .contact_box ul li:nth-child(1) {
        font-size: 28px;
    }

    #photo span,
    #feature span,
    #concept span,
    #contact span {
        font-size: 35px;
        padding: 5px;
    }
    .text_box span {
        font-size: 32px;
    }
}